@tailwind base;
@tailwind components;
@tailwind utilities;


body{
      background-color:#F1F5F9;
      min-height: 100vh;
      overflow-x: hidden;
}

a.active{
      color: #615BF1!important;
      background-color: transparent !important;
      font-weight: bold;
}

.black-bg{
      background-color: black !important;
      color: white ;
}



